@model PartDetailsModel

@{
    ViewBag.Title = "Part Details";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />


<div class="container" >
    <h2 class="heading-margin">@Model.Name</h2>
    <img class="center" src="@Model.ImageUrl" alt="@Model.Name" />
    <h4 class="heading-margin">@ViewData["Title"]</h4>
    <h2 class="heading-margin text-center"> </h2>

    <div class="mb-3">
        <label class="form-label" asp-for="Name"></label>
        <input class="form-control" type="text" readonly="" asp-for="Name">
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="Stock"></label>
        <input class="form-control" type="text" readonly="" asp-for="Stock">
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="PriceBuy"></label>
        <input class="form-control" type="text" readonly="" value="@Math.Round(Model.PriceBuy, 2)">
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="PriceSell"></label>
        <input class="form-control" type="text" readonly="" value="@Math.Round(Model.PriceSell, 2)">
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="ImageUrl"></label>
        <input class="form-control" type="text" readonly="" asp-for="ImageUrl">
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="Manufacturer"></label>
        <input class="form-control" type="text" readonly="" asp-for="Manufacturer">
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="OriginalMpn"></label>
        <input class="form-control" type="text" readonly="" asp-for="OriginalMpn">
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="Description"></label>
        <input class="form-control" type="text" readonly="" asp-for="Description">
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="VehicleComponent"></label>
        <input class="form-control" type="text" readonly="" asp-for="VehicleComponent">
    </div>

    <div class="mb-3">
        <a asp-controller="Parts" asp-action="All" class="btn btn-success">Done</a>
        <a asp-controller="Parts" asp-action="Edit" asp-route-Id="@Model.Id" class="btn btn-warning">Edit</a>
    </div>

</div>
