@model IEnumerable<OperatingCardViewModel>

@{
    ViewBag.Title = "Completed oprating cards";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center row">
    @foreach (var card in Model)
    {
        <div class="card col-4" style="width: 20rem;">
            <div class="card-body">
                <h5 class="card-title mt-1">@card.DocumentNumber</h5>
                <p class="mb-0"><b>Customer:</b> @card.CustomerName</p>
                <p class="mb-0"><b>Vehicle license plate:</b> @card.VehicleLicensePlate</p>
                <p class="mb-0"><b>Mechanic:</b> @card.MechanicName</p>
                <p class="mb-0"><b>Part:</b> @card.PartName</p>
                <p class="mb-0"><b>Service:</b> @card.ServiceName</p>
                <p><b>Date of creation:</b> @card.IssueDate</p>
                <p class="mb-0"><b>Status:</b> @(card.IsActive ? "Pending" : "Completed")</p>
            </div>
        </div>
    }
</div>